# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.LabWorkForms№2.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Study\Конспекты\4 курс\2 семестр\Конструирование компиляторов (Доц. Надькин Л.Ю.)\CompilerConstruction\LabWorkForms№2\.idea\.idea.LabWorkForms№2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
